.navbar{
    position: sticky !important;
    top: 0 !important;
  }
/*
 * Sidebar
 */
#myProgress {
    width: 100%;
    background-color: white;
}
#myBar {
    width: 0%;
    height: 12px;
    background-color: #007bff;
    text-align: center;
    line-height: 10px;
}


.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  font-size: 0.90rem;
}

.sidebar-sticky {
  position: -webkit-sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .80rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.mr8{
  margin-left: .6rem !important;
}
.mr1{
  margin-top: 1rem !important;
}
.pdd{
  padding: 0em !important;
}
.pdr{
  padding-right: 15px !important;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.tette{
  color: floralwhite !important;
}

.custom-file-label::after{
  content: "Elegir"  ;
}

@media only screen and (max-width: 768px) {
  .nav-link{
    color: floralwhite !important;
  }
  .navbar{
    position: relative !important;
    top: none !important;
  }
}
