html {
  
  min-height: 100%;
}


.navbar{
	padding: 0.3rem 1rem !important;
  	top: 0 !important;
  	right: 0 !important;
  	left: 0 !important;
  	z-index: 1030 !important;
  	position: sticky !important;
}

.card{
	 margin: 0rem 0.4rem !important;
	 margin-top: 1rem !important;
}

.item-rg{
	flex-grow: 0 !important; 
}

