
.navbar{
	padding: 0.3rem 1rem !important;
 	width: 100% !important;
 	z-index: 1030 !important;
 	
}

.card{
	 margin: 0rem 0.4rem !important;
	 margin-top: 1rem !important;
}

.item-rg{
	flex-grow: 0 !important; 
}

